.main {
	display: flex;
	padding: 20px 20px;
	justify-content: space-between;
	align-items: center;
}

.leftSection {
	display: flex;
	align-items: center;
	justify-content: left;
}

.leftSection a {
	display: flex;
	align-items: center;
	width: 120px;
	margin-right: 10px;
	
}

.leftSection img {
	height: 40px;
}

.search {
	height: 30px;
	padding-left: 20px;
	border-left: 1px solid lightgray;
	display: flex;
	align-items: center;
}

.iconSearch {
	font-size: 20px;
	margin-right: 10px;
	color: lightgray;
}

input {
	padding: 8px 10px;
	border: none;
	outline: none;
	font-size: 18px;
	color: black;
	width: 60%;
}

.favorite {
	display: flex;
	justify-content: flex-end;
	width: 0;
	margin-right: 30px;
}

.iconStar {
	color: lightgray;
	font-size: 20px;
	display: flex;
	justify-content: left;
	width: 100%;
}

.iconStar:hover {
	color: rgb(240, 240, 102);
}
